/* Te būs stils*/
/*mācos rakstīt css elementu dizaina kodu*/
div {
    width: 100px;
    height: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 100px;
    margin: 50px;
}
.pirmais {
    background-color: red;
}
.otrais {
    background-color: green;
    position: relative;
 top: 50px; /* Pārvietosim par 50 pikseļiem uz leju */
 left: 50px; /* Pārvietosim par 50 pikseļiem pa labi */
    }
    .tresais {
    background-color: blue;
    position: absolute;
 top: 100px; /* Novietosim to 100 pikseļu
attālumā no lapas augšas */
 left: 100px; /* Novietosim to 100 pikseļu
attālumā no lapas kreisās malas */
    }
    .ceturtais {
        background-color: rgb(255, 251, 0);
        position: absolute;
 top: 200px; /* Novietosim to 100 pikseļu
attālumā no lapas augšas */
 left: 200px; /* Novietosim to 100 pikseļu
attālumā no lapas kreisās malas */
      border-radius: 20px;  }